* * * * * /bin/zsh -l -c 'cd /home/miaowu/rails/JanKenPon && docker-compose -f docker-compose-prod.yml run --rm app bundle exec rake punch:matching  RAILS_ENV=production --silent'

0 0 * * * /bin/bash -l -c 'cd /home/miaowu/rails/JanKenPon && docker-compose -f docker-compose-prod.yml run --rm app bundle exec rake score:renew  RAILS_ENV=production' >> /var/log/renew.log 2>&1
15 0 * * * /bin/bash -l -c 'cd /home/miaowu/rails/JanKenPon && docker-compose -f docker-compose-prod.yml run --rm app bundle exec rake score:renew  RAILS_ENV=production' >> /var/log/renew.log 2>&1
20 0 * * * /bin/bash -l -c 'cd /home/miaowu/rails/JanKenPon && docker-compose -f docker-compose-prod.yml run --rm app bundle exec rake score:renew  RAILS_ENV=production' >> /var/log/renew.log 2>&1
22 0 * * * /bin/bash -l -c 'cd /home/miaowu/rails/JanKenPon && docker-compose -f docker-compose-prod.yml run --rm app bundle exec rake score:renew  RAILS_ENV=production' >> /var/log/renew.log 2>&1
30 0 * * * /bin/bash -l -c 'cd /home/miaowu/rails/JanKenPon && docker-compose -f docker-compose-prod.yml run --rm app bundle exec rake score:renew  RAILS_ENV=production' >> /var/log/renew.log 2>&1

1 0 * * * /bin/bash -l -c 'cd /home/miaowu/rails/JanKenPon && docker-compose -f docker-compose-prod.yml run --rm app bundle exec rake rank:calculating  RAILS_ENV=production --silent'