html, body{margin:0; padding:0; width:100%; height:100%;background: #000000}

.loading{width:100%;height:20px;line-height:20px;color:#FFF;text-align: center;letter-spacing:16px;}
.loading{position: relative;top:50%;transform: translateY(-50%);animation: loading 2s infinite}
.loading:before{content: "LOADING"}

@keyframes loading {
    0%{opacity: 0.2}
    50%{opacity: 1}
    100%{opacity: 0.2}
}